# ðŸ¤– Robo Reviews

## Load all necessary packages

In [1]:
import sys, os
sys.path.append(os.path.abspath('../..'))  # adjust levels to reach project root
from utils.dataframe import load_and_clean_data

## Load Data and Clean it up

In [2]:
# Load dataset from a function in the dataframe module
df = load_and_clean_data()
df.head()

Processing DataFrame from '1429_1.csv'...
Finished processing '1429_1.csv'. Found 34660 rows.
Processing DataFrame from 'Datafiniti_Amazon_Consumer_Reviews_of_Amazon_Products.csv'...
Finished processing 'Datafiniti_Amazon_Consumer_Reviews_of_Amazon_Products.csv'. Found 5000 rows.
Processing DataFrame from 'Datafiniti_Amazon_Consumer_Reviews_of_Amazon_Products_May19.csv'...
Finished processing 'Datafiniti_Amazon_Consumer_Reviews_of_Amazon_Products_May19.csv'. Found 28332 rows.

Merging all datasets...
Total rows after merge: 67992
Dropped 2153 duplicate reviews.
Dropped 6810 rows due to missing (MUST HAVE) data.
Final merged dataset has 59029 rows.

,product_name,categories,review_rating,review_text,review_title,image_urls,review_date,review_recommend,review_helpful_count,source_urls,review_username,review_username,data_source
0,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Electronics,iPad & Tablets,All Tablets,Fire Ta...",5.0,This product so far has not disappointed. My c...,Kindle,NaN,2017-01-13T00:00:00.000Z,True,0.0,NaN,Adapter,Adapter,1429_1.csv
1,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Electronics,iPad & Tablets,All Tablets,Fire Ta...",5.0,great for beginner or experienced person. Boug...,very fast,NaN,2017-01-13T00:00:00.000Z,True,0.0,NaN,truman,truman,1429_1.csv
2,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Electronics,iPad & Tablets,All Tablets,Fire Ta...",5.0,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.,NaN,2017-01-13T00:00:00.000Z,True,0.0,NaN,DaveZ,DaveZ,1429_1.csv
3,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Electronics,iPad & Tablets,All Tablets,Fire Ta...",4.0,I've had my Fire HD 8 two weeks now and I love...,Good!!!,NaN,2017-01-13T00:00:00.000Z,True,0.0,NaN,Shacks,Shacks,1429_1.csv
4,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Electronics,iPad & Tablets,All Tablets,Fire Ta...",5.0,I bought this for my grand daughter when she c...,Fantastic Tablet for kids,NaN,2017-01-12T00:00:00.000Z,True,0.0,NaN,explore42,explore42,1429_1.csv